.modal-header
  button.close(type='button', data-dismiss='modal') &times;
  h4.modal-title Add Product To Customer
.modal-body
  +autoForm(id="addCustomer" schema=schema type="method" meteormethod="createCustomer")

    .alert.alert-info.text-xsmall Use this form when you want to add a product to an existing customer. The amount to enter into the Price field will charge this customer that amount for the product

    h2.ui.header.m-t-none Customer
    +afQuickField(name="userId")
    +afQuickField(name="email")
    +afQuickField(name="shipping.name")
    +afQuickField(name="shipping.phone")
    +afQuickField(name="shipping.address" value=user.profile.homeAddress)
    +afQuickField(name="source" type="cc-stripe" user=user label=false)

    h2.ui.header Product
    +afQuickField(name="product" label=false)
    if product
      +afQuickField(name="productId" value=product._id)
      if product.isSubscription
        +afQuickField(name="planId" label="Your plan")
      else
        .row
          .col-sm-8
            +afQuickField(name="amount" placeholder="Amount" value=price label=false)
          .col-sm-4
            +afQuickField(name="currency" value=product.currency label=false)
      if product.fields
        +afQuickFields(name="fields")
      if product.variants
        +afQuickFields(name="variants")

    button.btn.btn-primary Add
