.modal-header
  button.close(type='button', data-dismiss='modal') &times;
  h4.modal-title Offline Customer
.modal-body

  +autoForm(id="createOrder" schema=schema type="method" meteormethod="createOrder")

    .alert.alert-info.text-xsmall Use this form when you need to add a product to a customer or create a customer who paid you offline our outside of the Cuppa.io platform. Examples cash, cheques, trade, different paypal. When you enter the price it will not charge the customer but allow you to track the amount paid.

    h2.ui.header.m-t-none Customer
    +afQuickField(name="userId")
    +afQuickField(name="email")
    +afQuickField(name="shipping.name")
    +afQuickField(name="shipping.phone")
    +afQuickField(name="shipping.address" value=user.profile.homeAddress)

    h2.ui.header Product
    +afQuickField(name="product" label=false)
    if product
      +afQuickField(name="productId" value=product._id)
      if product.isSubscription
        +afQuickField(name="planId" label="Your plan")
      else
        .row
          .col-sm-8
            +afQuickField(name="amount" placeholder="Amount" value=price label=false)
          .col-sm-4
            +afQuickField(name="currency" value=product.currency label=false)
      if product.fields
        +afQuickFields(name="fields")
      if product.variants
        +afQuickFields(name="variants")
    +afQuickField(name="status")

    button.btn.btn-primary Create Order
