.modal-header
  button.close(type='button', data-dismiss='modal') &times;
  h4.modal-title New Customer
.modal-body
  +autoForm(id="createCustomer" schema=schema type="method" meteormethod="createCustomer")

    .alert.alert-info.text-xsmall Use this form when you need to create a new customer for your products. This allows you to enter the payment, contact information for this customer and charge them the stated amount for the product. If the customer exists within Cuppa.io it will add the customer purchase to that customers existing Cuppa.io profile.

    h2.ui.header.m-t-none Customer
    +afQuickField(name="userId")
    +afQuickField(name="email")
    +afQuickField(name="shipping.name")
    +afQuickField(name="shipping.phone")
    +afQuickField(name="shipping.address" value=user.profile.homeAddress)
    //if user
    +afQuickField(name="source" type="cc-stripe" user=user label=false)

    h2.ui.header Product
    +afQuickField(name="product" label=false)
    if product
      +afQuickField(name="productId" value=product._id)
      if product.isSubscription
        +afQuickField(name="planId" label="Your plan")
      else
        .row
          .col-sm-8
            +afQuickField(name="amount" placeholder="Amount" value=price label=false)
          .col-sm-4
            +afQuickField(name="currency" value=product.currency label=false)
      if product.fields
        +afQuickFields(name="fields")
      if product.variants
        +afQuickFields(name="variants")

    button.btn.btn-primary Create
