.customer-drawer.navmenu.navmenu-default.navmenu-fixed-right.offcanvas
  .space-10.text-xsmall
    .pull-right.text-muted {{displayAmount order.amount order.currency}}
    .date {{date order.purchasedAt 'MM/DD/YYYY'}} - {{order.displayName}}
    .email {{order.emailAddress}}
  hr
  .space-10
    h3 {{order.product.title}}
  if order.shipping.address
    .space-10
      h3 Shipping Address
      if order.shipping.name
        p.small {{order.shipping.name}}
      if order.shipping.phone
        p.small {{order.shipping.phone}}
      p.small {{displayOrderAddress order.shipping.address}}
  if order.user.profile.homeAddress
    .space-10
      h3 Home Address
      if order.user.profile.homeAddress.phone
        p.small {{order.user.profile.homeAddress.phone}}
      p.small {{displayAddress order.user.profile.homeAddress}}
  if order.user.profile.billingAddress
    .space-10
      h3 Billing Address
      if order.user.profile.billingAddress.phone
        p.small {{order.user.profile.billingAddress.phone}}
      p.small {{displayAddress order.user.profile.billingAddress}}
  .space-10
    a.btn.btn-primary.btn-block.js-edit(href="#modal" data-toggle="modal") Edit
  .space-10
    if order.refunded
      h3.text-danger Refunded
    else
      a.btn.btn-primary.btn-block.js-refund Refund
  .space-10
    a.btn.btn-primary.btn-block.js-resend Resend
  .space-10
    a.btn.btn-primary.btn-block.js-reset-password(data-loading-text="Sending...") Reset Password
  .space-10
    a.btn.btn-danger.btn-block.js-remove Remove
  if order.product.shouldShipping
    +autoForm(id="updateOrderShippingStatus" schema=Schemas.OrderShippingStatus collection="Orders" doc=order type="update")
      +afQuickField(name="shippingStatus")
      button.btn.btn-primary Update Status
