.modal-header
  button.close(type='button', data-dismiss='modal') &times;
  h4.modal-title Edit Customer
.modal-body
  +autoForm(id="updateCustomer" schema=schema collection="Orders" doc=order type="update")
    +afQuickField(name="email")
    .address-container
      label Shipping
      +afQuickField(name="shipping.name" placeholder="Full name" label=false)
      +afQuickField(name="shipping.phone" placeholder="Phone" label=false)
      +afQuickField(name="shipping.address.line1" placeholder="Street address" label=false)
      +afQuickField(name="shipping.address.line" placeholder="Street address" label=false)
      .row.m-t-10.m-b-10
        .col-sm-3
          +afQuickField(name="shipping.address.city" placeholder="City" label=false)
        .col-sm-5
          if afFieldValueIs name="shipping.address.country" value="US"
            +afQuickField(name="shipping.address.state" placeholder="State" label=false)
          else
            +afQuickField(name="shipping.address.county" placeholder="County" label=false)
        .col-sm-4
          if order.shipping.address.zip
            +afQuickField(name="shipping.address.zip" placeholder="Zip code" label=false)
          if order.shipping.address.postal_code
            +afQuickField(name="shipping.address.postal_code" placeholder="Zip code" label=false)
      +afQuickField(name="shipping.address.country" placeholder="Country" value="US" label=false)
    button.btn.btn-primary(type="submit") Save
