.customers-list {
  //overflow: hidden;
  position: relative;
  .customer-drawer {
    border-width: 0 0 0 1px;
    margin-top: 128px;
    padding: 20px;
  }
  /*
  .customer-drawer {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #ddd;
    border-top-right-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
    padding: 15px;
    min-height: 200px;
    position: absolute !important;
    right: 0;
    top: 0;
    left: auto !important;
    transform: translateX(352px);
    transition: transform 0.3s cubic-bezier(0.23, 1.5, 0.32, 1) 0s;
    width: 352px;
    z-index: 1;
  }
  .customer-drawer::after {
    background: #f5f5f5 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 100px;
  }
  .customer-drawer.in {
    transform: translateX(0px);
  }*/
}

.dropdown .dropdown-menu.customer-email-add {
  margin-left: -30px !important;
  top: 40px;
}