+secondaryMenu
  ul.nav-customers
    li(class="{{isActiveRoute 'customers'}}")
      a(href="{{pathFor 'customers'}}") Customers
    li(class="{{isActiveRoute regex='updates|updateAdd|updateEdit'}}")
      a(href="{{pathFor 'updates'}}") Email
    li(class="{{isActiveRoute 'workflows'}}")
      a(href="{{pathFor 'workflows'}}") Follow Up Campaigns
    if showNewUpdateBtn
      li.m-l-lg
        .btn-group
          a.btn.btn-primary(href="{{pathFor 'updateAdd'}}") New Update
    if showNewWorkflowBtn
      li.m-l-lg
        .btn-group
          a.btn.btn-primary.new-workflow New Workflow
    if showNewCustomerBtn
      li.m-l-lg
        a.btn.btn-primary.navbar-btn.create-customer(href="#modal" data-toggle="modal" data-template="createCustomerModal")
          i.fa.fa-check
          span.hidden-xs Create Customer
        a.btn.btn-primary.navbar-btn.add-to-customer(href="#modal" data-toggle="modal" data-template="addToCustomerModal")
          i.fa.fa-plus-circle
          span.hidden-xs Add Product To Customer
        a.btn.btn-primary.navbar-btn.create-offline-customer(href="#modal" data-toggle="modal" data-template="createOfflineCustomerModal")
          i.fa.fa-money
          span.hidden-xs Add Offline Customer