
+customersMenu

.wrapper.wrapper-content.animated.customers: .container

  .row

    .col-md-8.col-xs-12.customers-list
      +customerDrawer
      table.table.table-hover: tbody(data-link="row" class="rowlink")
        if orders.count
          each orders
            tr(data-toggle="offcanvas" data-target=".customer-drawer" data-id="{{_id}}")
              td.customer
                span.text-muted.text-small {{this.displayName}}
              td.product {{this.product.title}}
              td.purchase-at
                span.text-muted.text-xsmall {{moFromNow this.purchasedAt}}
              td.amount {{displayAmount this.amount this.currency}}
              td.action.rowlink-skip
                a: i.fa.fa-angle-right
        else
          tr: td(colspan="5") No Customers
      if hasMore
        .space-20
          a.btn.btn-primary.btn-block.more Load more

    .col-md-4.col-xs-12
      +autoForm(id="searchCustomers" schema=Schemas.SearchCustomer autosave=true class="ui segment search")
        h3.ui.header Search in Customers
        //-+afQuickField(name="query" placeholder="Search..." label=false)
        +afQuickField(name="productId" label=false)
        +afQuickField(name="userId" label=false)
        .ui.fluid.icon.input
          input(name="daterange" type='text')
          i.calendar.icon
