
+customersMenu

.wrapper.wrapper-content: .container
  .row
    .col-lg-10.col-lg-offset-1.col-sm-12

      if subscribers.count
        each subscribers
          +subscriber
      else
        p No Subscribers

      if hasMore
        .space-20
          a.btn.btn-primary.btn-block.more Load more