
.ui.segment
  .row
    .col-sm-6
      span {{email}}
      if name
        br
        span {{name}}
      if phone
        br
        span {{phone}}
    .col-sm-4
      if tags
        each tags
          .label.label-primary.m-r-xs {{this}}
    .col-sm-2
      .btn-group
        a.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          span Action
          span.caret
        ul.dropdown-menu
          li
            a.copy(href="#") #[i.fa.fa-remove] Remove