
+customersMenu

.wrapper.wrapper-content.animated.customers: .container
  .row
    .col-lg-10.col-lg-offset-1.col-sm-12.customers-email
      .alert.alert-success.text-small.text-muted This is where you can send an email to segments of your #[b customer or lead lists]. You can even schedule an email for a future time. If you want to create or edit the communication that is part of your automated follow up campaigns please use the Follow-up Campaign menu option. This menu is for one time broadcasts of messages.
      each updates
        +update
      else
        p No Updates