
+customersMenu

.wrapper.wrapper-content.animated.customers: .container
  .row
    .col-lg-10.col-lg-offset-1.col-sm-12.customers-email-add
      +autoForm(id="createUpdate" collection="OrderUpdates" type="insert")
        .ui.segment
          .btn-toolbar
            .btn-group.pull-left
              a(href="{{pathFor 'updates'}}")
                i.fa.fa-arrow-left
          if isInRole 'admin'
            +afQuickField(name="users" select2Options=searchUsers)
            +afQuickField(name="usersGroup")
          +afQuickField(name="to")
          +afQuickField(name="subject")
          +afQuickField(name="emailTemplateId")
          +afQuickField(name="message")
          button.btn.btn-primary Save
