if $eq status 'pending'
  .dropdown.sticky
    a.btn.btn-primary.dropdown-toggle Schedule Update
    .dropdown-menu.customer-email-add
      a.btn.btn-primary.btn-block.send Send Now
      .space-15.text-center or
      input.form-control.datetimepicker(name="deliverAt" placeholder="Click Here to Select Date and Time" value="{{date deliverAt 'MM/DD/YYYY h:mm A'}}")
      a.btn.btn-primary.btn-block.schedule Schedule Now
else if $eq status 'schedule'
  i.fa.fa-calendar.m-r-xs
  span.text-xsmall Schedule on {{date deliverAt 'MMM D, YYYY h:mm a'}} #[a.cancel cancel]
else if $eq status 'sent'
  i.fa.fa-check.m-r-xs
  span.text-muted.text-xsmall Sent on {{date sentAt 'MMM D, YYYY h:mm a'}}
