
+customersMenu

.wrapper.wrapper-content.customers: .container
  .row
    .col-lg-10.col-lg-offset-1.col-sm-12.customers-email-add
      +autoForm(id="createUpdate" collection="OrderUpdates" type="update" doc=update)
        .ui.segment
          .btn-toolbar
            .btn-group.pull-left
              a(href="{{pathFor 'updates'}}")
                i.fa.fa-arrow-left
            .btn-group.pull-right
              button.btn.btn-primary Save
            .btn-group.pull-right
              +updateStatus update
          if isInRole 'admin'
            +afQuickField(name="users" select2Options=searchUsers options=defaultOptions)
            +afQuickField(name="usersGroup")
          +afQuickField(name="to")
          +afQuickField(name="subject")
          +afQuickField(name="emailTemplateId")
          +afQuickField(name="message")
