.row
  .col-sm-7
    span To be sent to {{this.toTitle}}
  .col-sm-5.text-right
    a.btn.btn-default.test Test Now
    a.btn.btn-default(href="{{pathFor 'updateEdit'}}") Edit
    a.btn.btn-danger.delete Delete
.ui.segment
  table.table
    tr
      th(width="40%")
      th(width="30%")
      th(width="15%") Clicks
      th(width="15%") Opens
    tr
      td
        h3 {{subject}}
      td
        +updateStatus
      td
        | {{number totalClicks '0,0'}}
      td
        | {{number totalOpens '0,0'}}
