
+autoForm(id="createWorkflow" collection="Workflows" type="insert")
  +afQuickField(name="title" placeholder="Name of workflow" label=false)
  +afQuickField(name="for")
  each variants
    +afQuickField(name=this.name type="select" options=this.options label=this.label)
  .btn-toolbar.m-b-md
    button.btn.btn-primary.pull-left Add
    a.btn.btn-default.pull-right.cancel Cancel
