
h3.text-muted
  span For: {{titleFor}}
  span {{titleVariants}}
.ui.segments
  .ui.segment
    .row
      .col-sm-9
        h3 {{title}}
      .col-sm-3.text-right
        if isPublished
          a.btn.btn-default.js-unpublish(href="#") Unpublish
        else
          a.btn.btn-primary.js-publish(href="#") Publish
        a.btn.btn-success.js-copy(href="#") Copy
        a.btn.btn-primary(href="{{pathFor 'workflowEdit'}}") Edit
  each emails
    .ui.segment
      .row
        .col-sm-9
          strong.block.font-small {{subject}}
          small.text-muted {{#if isPublished}}Active{{else}}Inactive{{/if}}
        .col-sm-1
          strong.block.font-small {{number (../totalSent id) '0,0'}}
          small.text-muted Sent
        .col-sm-1
          strong.block.font-small {{number (../totalOpens id) '0,0'}}
          small.text-muted Opens
        .col-sm-1
          strong.block.font-small {{number (../totalClicks id) '0,0'}}
          small.text-muted Clicks
