
.workflow.edit {
  .email-container {
    position: relative;
    .btn-actions {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  /*
  .btn.publish,
  .btn.unpublish,
  .btn.autoform-remove-item,
  .btn.test {
    position: absolute;
    top: 0px;
  }
  .btn.test {
    right: 0px;
  }
  .btn.publish,
  .btn.unpublish {
    right: 55px;
  }
  .btn.autoform-remove-item {
    right: 120px;
  }*/
}