
+customersMenu

.wrapper.wrapper-content.animated.customers: .container
  .row
    .col-lg-10.col-lg-offset-1.col-sm-12.workflow.edit
      +autoForm(id="editWorkflow" collection="Workflows" type="update" doc=workflow)
        h3 for: {{workflow.titleFor}}
        .ui.segments
          .ui.segment
            +afQuickField(name="title" placeholder="Name of workflow" label=false)
            +afQuickField(name="for" label="For")
            each variants
              +afQuickField(name=this.name type="select" options=this.options label=this.label)
            a.btn.btn-default(href="{{pathFor 'workflows'}}") Cancel
            button.btn.btn-primary Save
            a.btn.btn-danger.js-remove Delete
          .ui.secondary.segment
            h3.space-10
              span After time of purchase or follow
              a.autoform-add-item.pull-right(href="#" data-autoform-field="emails" data-autoform-minCount="0") #[i.fa.fa-plus] Add email
            +afEachArrayItem(name="emails" minCount="0" initialCount="0")
              +afQuickField(name=current.isPublished type="hidden")
              +afQuickField(name=current.id type="hidden")
              .email-container.space-20
                .btn-actions
                  if afFieldValueIs name=current.isPublished value=true
                    a.btn.btn-default.m-t-xs.m-r-xs.js-unpublish Unpublish
                  else
                    a.btn.btn-primary.m-t-xs.m-r-xs.js-publish Publish
                  a.btn.btn-default.m-t-xs.m-r-xs.js-send-test Test
                  a.btn.btn-danger.m-t-xs.m-r-xs.autoform-remove-item #[i.fa.fa-remove]
                +afQuickField(name=current.subject placeholder="Subject" label=false formgroup-class="subject")
                +afQuickField(name=current.emailTemplateId)
                +afQuickField(name=current.message placeholder="Write a personalized message..." label=false)
                .row
                  .col-sm-2
                    +afFieldInput(name=current.sendAfterUnit placeholder="1" label=false defaultValue=1)
                  .col-sm-10
                    +afFieldInput(name=current.sendAfterPeriod label=false defaultValue="hours")
            button.btn.btn-block.btn-primary Save
