
+customersMenu

.wrapper.wrapper-content.animated.customers: .container
  .row
    .col-lg-10.col-lg-offset-1.col-sm-12.customers-workflow

      if newWorkflow
        .ui.segment
          +workflowAdd

      each workflows
        +workflow
