<ion-view  hide-nav-bar="false" hide-back-button="false">
  <ion-nav-title>{{'CHAT_TITLE' | translate}}</ion-nav-title>
  <ion-content class="content-stable">
    <div class="text-muted" style="width:100%;text-align:center" ng-show="messages.length<1">{{'CHAT_NOMSG' | translate}}</div>
    <div ng-repeat="message in $storage.order.messages"
         ng-class="{other: message.is_driver==1}"
         class="messages">
      <div class="message">
        <div class="msg">
          <div  ng-bind-html="message.message">
          </div>

          <div class="message-detail">
            <span class="bold">{{message.is_driver==1?$translate('COMMON_DRIVER'):$translate('COMMON_YOU')}}</span>,
            <span am-time-ago="message.time"></span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-stable ">
    <div class="item item-input" style="padding:0px">
      <input type="text" style="padding-left:16px" placeholder="{{'CHAT_PLACEHOLDER' | translate}}" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      <button class="button icon ion-ios-arrow-right" ng-click="sendMessage()">
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
