<ion-view hide-nav-bar="false" hide-back-button="false">
  <ion-nav-title>{{'GEO_TITLE' | translate}}</ion-nav-title>
  <ion-header-bar class="bar-light bar-subheader bar-custom ">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" id="searchString" autofocus placeholder="{{'COMMON_SEARCH' | translate}}" ng-model="searchString">{{places.length}}
    </label>
  </ion-header-bar>

  <ion-tabs class="has-subheader">

    <ion-item class="tabs tabs-striped tabs-secondary tabs-icon-top">
      <a class="tab-item" ng-click="geoSearch.main.show_list = 'search';" ng-class="{'active': geoSearch.main.show_list === 'search'}">
        <i class="icon" ng-class="geoSearch.main.show_list === 'search' ? 'ion-ios-search-strong' : 'ion-ios-search'">
        </i> {{'COMMON_SEARCH' | translate}}
      </a>
      <a class="tab-item" ng-click="geoSearch.main.show_list = 'history';" ng-class="{'active': geoSearch.main.show_list === 'history'}">
        <i class="icon" ng-class="geoSearch.main.show_list === 'history' ? 'ion-ios-clock' : 'ion-ios-clock-outline'">
        </i> {{'COMMON_HISTORY' | translate}}
      </a>
      <a class="tab-item" ng-click="geoSearch.main.show_list = 'bookmarks';" ng-class="{'active': geoSearch.main.show_list === 'bookmarks'}">
        <i class="icon" ng-class="geoSearch.main.show_list === 'bookmarks' ? 'ion-ios-heart' : 'ion-ios-heart-outline'">
        </i> {{'COMMON_BOOKMARKS' | translate}}
      </a>
    </ion-item>
  </ion-tabs>


  <ion-content class="has-tabs">

    <ion-list ng-show="geoSearch.main.show_list === 'search'">
      <ion-item ng-repeat="place in places" class="item-thumbnail-left item-icon-right" style="padding-left: 54px;vertical-align: center;">
        <img ng-src="{{place.icon}}" style="width:32px !important;height:auto !important;border-radius: 0;" ng-click="geoSearch.goToPlace(place)">
        <p ng-click="geoSearch.goToPlace(place)">{{place.name}}</p>
        <p class="text-muted" ng-click="geoSearch.goToPlace(place)">{{place.formatted_address}}</p>

        <i class="icon ion-ios-heart energized" ng-click="geoSearch.addBookmark(place)"></i>
      </ion-item>
    </ion-list>


    <ion-list ng-show="geoSearch.main.show_list === 'history'">
      <ion-item ng-repeat="place in placesHistory" class="item-thumbnail-left item-icon-right" style="padding-left: 54px;vertical-align: center;">
        <img ng-src="{{place.icon}}" style="width:32px !important;height:auto !important;border-radius: 0;" ng-click="geoSearch.goToPlace(place)">
        <p ng-click="geoSearch.goToPlace(place)">{{place.name}}</p>
        <p class="text-muted" ng-click="geoSearch.goToPlace(place)">{{place.formatted_address}}</p>

        <i class="icon ion-ios-heart energized" ng-click="geoSearch.addBookmark(place)"></i>
      </ion-item>
    </ion-list>


    <ion-list ng-show="geoSearch.main.show_list === 'bookmarks'">
      <ion-item ng-repeat="place in placesBookmarks" class="item-thumbnail-left item-icon-right" style="padding-left: 54px;vertical-align: center;" ng-click="geoSearch.goToPlace(place)">
        <img ng-src="{{place.icon}}" style="width:32px !important;height:auto !important;border-radius: 0;">
        <p>{{place.name}}</p>
        <p class="text-muted">{{place.formatted_address}}</p>

      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
