<ion-view hide-nav-bar="false" hide-back-button="false">
  <ion-nav-title>{{'PROFILE_TITLE' | translate}}</ion-nav-title>
  <ion-content >

    <div class="list  profile_list">
      <a class="item  item-button-right" >
        <span id="avatar" class="avatar" ng-style="{'background': 'url('+userData.photo+')', 'background-size': 'cover'}"></span>
        <div class="buttons">
          <button class="button button-large icon-right button-clear button-positive ion-android-camera" ng-click="takePhoto()"></button>
          <button class="button button-large icon-right button-clear button-positive ion-ios-browsers" ng-click="choosePhoto()"></button>
          <button class="button button-large icon-right button-clear button-positive ion-trash-a" ng-click="clearPhoto()"></button>
        </div>
      </a>

      <form name="PF" novalidate="">
        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : PF.firstname.$invalid, 'no-errors' : PF.firstname.$valid}">
          <span class="input-label">{{'PROFILE_FIRSTNAME' | translate}}</span>
          <input type="text" name="firstname" placeholder="{{'PROFILE_FIRSTNAME' | translate}}" ng-model="userData.firstname" required>
        </label>
        <div class="error-container" ng-show="PF.firstname.$error" ng-messages="PF.firstname.$error">
          <div ng-messages-include="templates/error-list.html"></div>
        </div>

        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : PF.lastname.$invalid, 'no-errors' : PF.lastname.$valid}">
          <span class="input-label">{{'PROFILE_LASTNAME' | translate}}</span>
          <input type="text" name="lastname" placeholder="{{'PROFILE_LASTNAME' | translate}}" ng-model="userData.lastname" required>
        </label>
        <div class="error-container" ng-show="PF.lastname.$error" ng-messages="PF.lastname.$error">
          <div ng-messages-include="templates/error-list.html"></div>
        </div>

        <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : PF.email.$invalid||PF.email.$error.email, 'no-errors' : PF.email.$valid}">
          <span class="input-label">{{'PROFILE_EMAIL' | translate}}</span>
          <input type="email" name="email" placeholder="{{'PROFILE_EMAIL' | translate}}" ng-model="userData.email" required>
        </label>
        <div class="error-container" ng-show="PF.email.$error" ng-messages="PF.email.$error">
          <div ng-messages-include="templates/error-list.html"></div>
        </div>

        <div class="item item-input item-floating-label" ng-class="{ 'has-errors' : PF.phone.$invalid, 'no-errors' : PF.phone.$valid}">
          <span class="input-label">{{'PROFILE_PHONE' | translate}}</span>

          <intlpn ng-model="userData.phone" placeholder="{{'PROFILE_PHONE' | translate}}"></intlpn>

          <button ng-click="confirmPhone()" class="button button-positive" ng-hide="userData.phone_confirmed=='1'" class="">{{'PROFILE_HAVECODE' | translate}}</button>
          <button ng-click="resend()" class="button button-assertive" ng-hide="userData.phone_confirmed=='1'">{{'PROFILE_RESENDCODE' | translate}}</button>
        </div>
        <div class="item item-input item-floating-label" ng-class="{ 'has-errors' : PF.passwordOld.$invalid||PF.passwordNew.$invalid, 'no-errors' : PF.passwordOld.$valid&&PF.passwordNew.$valid}">
          <span class="input-label1">{{'PROFILE_PASSWORDOLD' | translate}}</span>
          <input type="password" name="passwordOld" ng-model="newPassword.passwordOld"/>
          <span class="input-label1">{{'PROFILE_PASSWORDNEW' | translate}}</span>
          <input type="password" name="passwordNew" ng-model="newPassword.passwordNew"/>
          <button ng-click="changePassword()" class="button button-positive" ng-show="newPassword.passwordNew&&newPassword.passwordOld" class="">{{'PROFILE_PASSWORDCHANGE' | translate}}</button>
        </div>
        <div class="error-container" ng-show="PF.phone.$error" ng-messages="PF.phone.$error">
          <div ng-messages-include="templates/error-list.html"></div>
        </div>
      </form>
    </div>
    <button class="button button-full" ng-disabled="PF.$invalid" ng-click="saveProfile()">{{'PROFILE_SAVE' | translate}}</button>

  </ion-content>
</ion-view>
